/* header.css */


body > header {background-color: #523737; color: #fff; font-size: 12px;
                padding: 5px 10px 15px;}

body > header > .header_top {display: flex;  justify-content: space-between;}
body > header > .header_top > .column  {}
body > header > .header_top > .column > i  {}

body > header > .header_bot {font-size: 20px; display: flex;  justify-content: space-between;}

body > header > .header_bot span.text {font-size: 16px;}
body > header > .header_bot span.number {color: yellow;}

body > header > .header_bot > .column:nth-child(1)  {text-align: left;}
body > header > .header_bot > .column:nth-child(2)  {text-align: center;}
body > header > .header_bot > .column:nth-child(3)  {text-align: right;}
body > header > .header_bot > .column > i  {}


