/* navigation.css */

nav.tabBar {
    background-color: #f7f7f7;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c1c1c1;
    padding: 10px 30px 5px 30px;
}

nav.tabBar.selected {color: #523737;}


a, a:visited {text-decoration: none; color: #c1c1c1;}

/*icon*/
nav.tabBar a {color: #c1c1c1; display: inline-block; flex: 1; }
nav.tabBar i {font-size: 24px;
            display: block;
            margin-bottom: 5px;
            text-align: center;}
nav.tabBar span {font-size: 10px;}