/* navigation.css */

nav.tabBar {
    background-color: #f7f7f7;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c1c1c1;
    box-sizing: border-box;
    padding: 10px 0px 5px;
}

nav.tabBar a.selected {color: #523737;}


nav.tabBar a,
nav.tabBar a:visited {text-decoration: none;}

/*icon*/
nav.tabBar a {color: #c1c1c1; display: inline-block; flex: 1; text-align: center; }
nav.tabBar i {font-size: 24px;
            display: block;
            margin-bottom: 5px;
            }
nav.tabBar span {font-size: 10px;}